<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="~/Css/style.css">
</head>

<body>

    <header>
        <nav>
            <a asp-controller="car" asp-action="index" class="logo"> Home </a>
        </nav>
    </header>

    <main>
        @RenderBody()

        <table>
            <tr>
                <th>Id</th>
                <th>Model</th>
                <th>Owner</th>
                <th>Color</th>
                <th>Price</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Model</td>
                    <td>@item.Owner</td>
                    <td>@item.Color</td>
                    <td>@item.Price</td>
                </tr>
            }
        </table>
    </main>

    <footer> </footer>
</body>

</html>